{
	"root": true,
	"plugins": ["unicorn"],
	"extends": ["eslint:recommended", "plugin:unicorn/recommended", "prettier"],
	"rules": {
		"unicorn/no-useless-undefined": ["error", { "checkArguments": false }],
		"unicorn/text-encoding-identifier-case": 0
	},
	"globals": {
		"GM_registerMenuCommand": true
	},
	"env": {
		"browser": true
	}
}
